<!DOCTYPE html>
<html>
{{> headers/header-main }}
<body>
{{> navigation/navigation }}
{{#if user}}
    <script>
        const loggedInUser = {
            id: '{{user._id}}',
            username: '{{user.username}}'
        };
    </script>
{{else}}
    <script>
        const loggedInUser = null;
    </script>
{{/if}}
{{#if session}}
    <div id="session">{{session}}</div>
{{/if}}
{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}
{{{body}}}
{{> modals/alert }}
<div id="root">
</div>
<div id="testForm">
</div>
</body>
{{> jsincludes/js-vendors}}
{{> jsincludes/js-popovers-tooltips}}
{{> jsincludes/js-app}}
</html>
